.bg {
	background-size: cover;
  	background-image: url(../images/jumbo.png);
  	background-color: #fff;
}
 .bg_results {
 	background-color: #ee5749;
 }

.bottomborder {
    border-bottom: 20px solid #000;
}

.placetext {
	font-family: 'Rock Salt', cursive;
}

.materials
  display: inline-flex
  float: left
  width:200px

.drawing
  display: inline-flex
  float: left
  width:200px

