.bg {
	background-size: cover;
  	background-image: url(../images/jumbo.png);
  	background-color: #fff;
  }

 .bg_results {
 	background-color: #ee5749;
 }

.bottomborder {
    border-bottom: 20px solid #000;
}


.title {
	font-family: 'Permanent Marker', cursive;
}


